body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}
.header {
  background-color: #fff;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid #ff7500;

}

.site-header-actions {
  display: flex;
  align-items: center;
}

.logo-link {
  transition: opacity 0.4s ease;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

 .sitenav-list {
  padding: 0;
  list-style: none;
  display: flex;
 }

.sitenav-link {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-family: "Roboto", "Arial", sans-serif;
  transition: color 0.4s ease;
  }

.sitenav-link:hover {
  color: #ff7500;
}

.sitenav-link:active {
  opacity: 0.6;
}

.main-link {
  display: inline-block;
  /* tepa o'ng past chap  */
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  background-color: #ff7500;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", "Arial", sans-serif;
  transition: opacity 0.4s ease;
}

.main-link:hover {
  opacity: 0.8;
}
.main-link:hover {
  opacity: 0.6;
}

.hero {
  background-color: #252420;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  width: 390px;
}

.orange-line {
  width: 80px;
  height: 3px;
  border: none;
  background-color: #ff7500;
}


.hero-img {
  width: 510px;
  height: 510px;
  border-radius: 8px;
}

.hero-heading {

  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
}

.hero-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.feature {
  padding-top: 210px;
  padding-bottom: 210px;
}

.feature-heading {
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-family: 'Roboto Condensed', sans-serif;
}

.feature-heading-text {
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-family: 'Roboto Condensed', sans-serif;

}

.features-list {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.feature-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background-color: #252420;
  color: #fff

}

.promo-heading {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.5px;
  font-family: 'Roboto Condensed', sans-serif;
}

.promo-content {
  width: 440px;
}

.promo-text {
  font-style: 16px;
  line-height: 1.6;
}

.promo-highlight {
  color: #ff7500
}

.promo-img {
  width: 440px;
  height: 440px;
  border-radius: 12px;
  object-fit: cover;
}

.site-footer ul {
  padding: 0;
  list-style: none;
}


.site-footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f8f8f8;
}
.site-footer-links {
  width: 224px;
}

.site-footer-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-footer-socials {
  padding: 0;
  display: flex;
  align-items: center;
}
.site-footer-socials a {
  color: #252420;
}

.site-footer-socials a:hover {
  color: #ff7500;
}

.site-footer-socials a:active {
  opacity: 0.6;
}



.site-footer-list {
  display: flex;

  justify-content: space-between;
}

.site-footer-links a {

  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #252420
}

.site-footer-links a:hover {
  color: #ff7500;
}

.site-footer-links a:focus {
  opacity: 0.6;
}